<div class="container d-flex justify-content-center">
    <div class="card mt-5" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">John Doe</h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= @tweet.created_at %></h6>
            <p class="card-text"><%= @tweet.content %></p>
            <%= link_to 'Edit', edit_tweet_path(@tweet), class: "card-link" %>
            <%= link_to 'Back', tweets_path, class: "card-link" %>
        </div>
    </div>
</div>